.single-product-page {
  width: 80vw;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  border-radius: 2rem;
}
.image-container-page {
  flex-basis: 35%;
}
img {
  border-radius: 2rem 0rem 0rem 2rem;
  height: 80vh;
  width: 35vw;
  transform: scale(0.99);
}
img:hover {
  border-radius: 0rem;
  transform: scale(1.03);
}
.details-page {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 1rem;
}

.category-page {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: bold;
}
.card-title-page {
  font-size: 1.5rem;
}
.description-page {
  font-size: 0.8rem;
}
