.parent-cartlist {
  display: flex;
  width: 70vw;
}
.image-cart > img {
  height: 30vh;
  width: 20vw;
}


.details-box {
  display: flex;
  flex-direction: column;
}

.details-box{
  margin-left:3rem;
}