.Card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25vw;
  height: 50vh;
  border-radius: 0.9rem;
  background-color: white;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem;
  padding: 1rem;
}
a {
  text-decoration: none;
}
.Card:hover {
  box-shadow: 5px 10px #888888;
}

.Card > img {
  width: 60%;
  height: 40%;
  align-self: center;
  padding: 1rem;
}

.Card > img:hover {
  transform: scale(1.2);
}
.card-category {
  flex-basis: 12%;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: bold;
  color: #2874f0;
}

.card-title {
  flex-basis: 12%;
  font-size: 1rem;
  font-weight: bold;
}
.card-title:hover {
  color: #2874f0;
  cursor: pointer;
}

.rate-count {
  flex-basis: 12%;
  font-size: 0.7rem;
  font-weight: bold;
}

.price {
  flex-basis: 12%;
  font-size: 1rem;
  font-weight: bold;
}
.button-container {
  display: flex;
  flex-basis: 12%;
  justify-content: center;
}
button {
  background-color: #2874f0;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
  width: 40%;
  margin-left: 0.2rem;
}

button:hover {
  cursor: pointer;
  background-color: #f4631a;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40vw;
    height: 50vh;
  }
}
@media screen and (max-device-width: 768px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60vw;
    height: 50vh;
  }
}

@media screen and (max-device-width: 480px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80vw;
    height: 50vh;
  }
}
