.nav-parent {
  display: flex;
  justify-content: space-evenly;
  background-color: #2874f0;
  color: white;
}
.nav-parent > .nav-logo {
  font-size: 2rem;
  font-weight: bolder;
  align-self: center;
  cursor: pointer;
  color: white;
}
a {
  text-decoration: none;
}
.nav-list {
  align-self: center;
  flex-basis: 50%;
}
.white-color {
  color: white;
}

.nav-list-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list-item {
  margin-top: 0.5rem;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-device-width: 578px) {
  .nav-parent > .nav-logo {
    align-self: center;
  }
  .nav-list {
    display: none;
  }
}
